/* Put your style information here! */
@media (max-width: 768px) {
    .main {
        margin-left: 0 !important;
        margin-right: 0 !important;        
    }
}

body {
    font-family: 'Dekko', cursive;
}


.main {
    margin-left: 15%;
    margin-right: 15%;
}


h1 {
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1vw;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
    font-family: 'Mulish', sans-serif;
}



.container {
	max-width: 960px;
}
